**/gen
py/lark/gen
cpp/lark_service_handler
cpp/play
cpp/indexer
**/Makefile.in
*.o
*.db
*~
.deps
*.swp
*.old
cpp/larkd
config.h
config.log
config.status
configure
configure.scan
autoscan.log
Makefile
Makefile.in
autom4te.cache
config.guess
config.sub
